<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マイページ
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
              <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "default.jpg", class: "profile_image is-rounded" %>
            </figure>
          </div>
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>
               
              </tr>
            </table>
            <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= simple_format @user.profile %> 
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container2">
   <div class="columns is-centered">
    <div class="actions">
     <% if @user.id == current_user.id %>
       <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
     <% end %>
    </div>
  </div>
 </div>
</section>  

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.posts.each do |post| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to post_path(post) do %>
                  <%= attachment_image_tag post, :image, fallback: "default.jpg" %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to post_path(post), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    詳細
                  <% end %>
                  <% if @user.id == current_user.id %>
                    <%= link_to edit_post_path(post), class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      編集
                    <% end %>
                    <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      削除
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="content">
                <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
              <% if current_user.already_liked?(post)%>
               <%= link_to post_likes_path(post), method: :delete do %>
                <i class="fas fa-heart"></i>
               <% end %>
              <% else %>
               <%= link_to post_likes_path(post), method: :post do %>
                <i class="far fa-heart"></i>
               <% end %>
              <% end %>
              <%= post.likes.count%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>