<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @post, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @post.title %></p>
              </div>
            </div>
           <div class="content">
            <table class="table is-narrow">
              <tr>
                <td><%= simple_format @post.content %></td>
              </tr>
            </table>
            <% if current_user.already_liked?(@post) %>
                   <%= link_to post_likes_path(@post), method: :delete do %>
                    <i class="fas fa-heart"></i>
                   <% end %>
                  <% else %>
                   <%= link_to post_likes_path(@post), method: :post do %>
                    <i class="far fa-heart"></i>
                   <% end %>
                  <% end %>
                  <%= @post.likes.count%>
            <% if @post.user.id == current_user.id %>
             <div class="show-button">
              <%= link_to "編集", edit_post_path(@post), class: "button is-primary" %>
              <%= link_to "削除", post_path(@post), method: :delete, class: "button is-danger" %>
             </div>
            <% end %>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
